body {

}

header {
    background-color: darkblue;
    text-align: center;
    color: white;
}

main {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
}

#submit {
    background-color: blue;
    color: white;
    margin-bottom: 1rem;
}

#whole-week {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

#forecast-today {
}

#weekly-forecast {
    display: flex;
}

.forecast {
    text-align: left;
    background-color: rgba(0, 0, 0);
    color: white;
}